<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="start">
      วันที่
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center" class="pl-20 pr-16">
        ชื่อ-นามสกุล
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center" class="pl-20 pr-16">
        เลขประจำตัวประชาชน
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      ที่อยู่ตามบัตร
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center" class="pl-20 pr-16">
        รายการชื่อ
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center" class="pl-20 pr-16">
        จำนวนเงิน
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start">
      รายการ(+)
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center" class="pl-20 pr-16">
        รวมเงิน
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center" class="pl-20 pr-16">
        300
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start">
      ประเภทรายการ
    </div>

  </div>

</div>