<div class="page-layout blank p-24">

  <div fxLayout="row" fxLayoutAlign="end" class="btn-bottom">
    <button mat-raised-button color="primary" (click)="openForm()">เพิ่ม</button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" class="text-center border bg-list">
    
    <div fxLayout="column" fxFlex="100" class="border-right margin-text">
      เลขที่
    </div>
    <div fxLayout="column" fxFlex="100" class="border-right margin-text">
      วันที่
    </div>
    <div fxLayout="column" fxFlex="100" class="border-right margin-text">
      ชื่อ - นามสกุล
    </div>
    <div fxLayout="column" fxFlex="100" class="margin-text">
      จำนวนเงิน
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="center" class="text-center border bg-list">
    
    <div fxLayout="column" fxFlex="100" class="border-right margin-text">
      เลขที่
    </div>
    <div fxLayout="column" fxFlex="100" class="border-right margin-text">
      วันที่
    </div>
    <div fxLayout="column" fxFlex="100" class="border-right margin-text">
      ชื่อ - นามสกุล
    </div>
    <div fxLayout="column" fxFlex="100" class="margin-text">
      จำนวนเงิน
    </div>

    

  </div>

  

</div>