.text-center {
    text-align: center;
}

.btn-bottom {
    margin-bottom: 20px;
}

.border {
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.border-right {
    border-right: solid 1px;
}

.margin-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-list {
    background-color: white;
}